.root {
  position: relative;
  width: 1512px;
  height: 4652px;
  align-items: flex-start;
  background-color: #f5f5f5;
  overflow: hidden;
}
.frame14290 {
  position: absolute;
  left: calc(50% - 0.0703px);
  top: 4020px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 156px;
  padding: 48px 160px;
  transform: translateX(-50%);
}
.frame14289 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.frame14288 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.happyCustomers {
  color: #1e1e1e;
  font-size: 40px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.022em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ourCommitmentToHighStandardsOf {
  width: 556px;
  height: 96px;
  flex-direction: column;
}
.textBlock {
  color: #1e1e1e;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.viewAllTestimonies {
  width: 223px;
  height: 48px;
  background-color: #907cff;
}
.image32 {
  width: 479.8594px;
  height: 319.9688px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url("assets/image32.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame14291 {
  position: absolute;
  left: 0;
  top: 4436px;
  width: 1512px;
  height: min-content;
  align-items: flex-start;
  gap: 184px;
  padding: 48px 160px;
  background-color: #7fdbff;
}
.simpliTestCo {
  color: #fff;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.011em;
  width: 239px;
  height: min-content;
  flex-direction: column;
}
.importantLinksTestingPartnerCo {
  width: 360px;
  height: min-content;
  flex-direction: column;
}
.textBlock3 {
  color: #fff;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.011em;
}
.list {
  font-size: 20px;
}
.list ::marker {
  color: #fff;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.011em;
}
.textBlock4 {
  margin-top: 0;
}
.labelWrapper {
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.011em;
}
.textBlock5 {
  margin-top: 0;
  color: #fff;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.011em;
}
.textBlock6 {
  margin-top: 0;
  color: #fff;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.011em;
}
.frame14257 {
  position: absolute;
  left: 0;
  top: 1px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 528px;
  padding: 16px 160px;
  background-color: #fff;
}
.frame14256 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 24px;
}
.logoNoBackground1 {
  width: 68px;
  height: 59px;
  background-image:/* webpackIgnore: true */ url("assets/logoNoBackground1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.simpliTest {
  color: #0074d9;
  font-size: 32px;
  line-height: 32px;
  font-family: Jaldi, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.navBarOptions {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 60px;
}
.home {
  color: #333;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.portal {
  color: #333;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.howItWorks {
  color: #333;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame {
  width: 24px;
  height: 24px;
}
.icon {
  width: 100%;
  height: 100%;
}
.frame14258 {
  position: absolute;
  left: 0;
  top: 92px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 124px 160px;
  background-color: #7fdbff;
  overflow: hidden;
}
.frame14260 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 90px;
}
.frame14259 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.materialTestingDoneEfficiently {
  color: #fff;
  font-size: 64px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 528px;
  height: min-content;
  flex-direction: column;
}
.streamlineYourConstructionMate {
  width: 690px;
  height: min-content;
  flex-direction: column;
}
.textBlock7 {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.image24 {
  width: 412px;
  height: 412px;
  border-radius: 8px;
  background-image:/* webpackIgnore: true */ url("assets/image24.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame14269 {
  position: absolute;
  left: 50%;
  top: calc(50% - 1244px);
  width: min-content;
  height: min-content;
  align-items: flex-end;
  gap: 84px;
  padding: 92px 160px;
  transform: translate(-50%, -50%);
}
.frame14265 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
  gap: 24px;
}
.frame14264 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
  gap: 48px;
}
.frame14262 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 26px;
}
._69 {
  color: #7fdbff;
  font-size: 120px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.04em;
  width: min-content;
  height: min-content;
  text-shadow: 0px 4px 4px #7fdbff40;
  white-space: nowrap;
  flex-direction: column;
}
.expertPartnerLabsAcrossIndia {
  color: #000;
  font-size: 40px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame14263 {
  width: min-content;
  height: min-content;
  padding: 10px;
}
.trustedByNumerousConstructionC {
  color: #1e1e1e;
  font-size: 46px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.022em;
  width: 618px;
  height: min-content;
  flex-direction: column;
}
.simpliTestMadeOurProjectSeamle {
  color: #1e1e1e;
  font-size: 22px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.011em;
  width: 711px;
  height: min-content;
  flex-direction: column;
}
.frame14268 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.a {
  color: #1e1e1e;
  font-size: 120px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame14267 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.frame14266 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.unnamed {
  color: #ffcd29;
  font-size: 40px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 8px 12px #ffcd2952;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed2 {
  color: #ffcd29;
  font-size: 40px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 8px 12px #ffcd2952;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed3 {
  color: #ffcd29;
  font-size: 40px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 8px 12px #ffcd2952;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed4 {
  color: #ffcd29;
  font-size: 40px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 8px 12px #ffcd2952;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed5 {
  color: #ffcd29;
  font-size: 40px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  text-shadow: 0px 8px 12px #ffcd2952;
  white-space: nowrap;
  flex-direction: column;
}
._169Ratings {
  color: #1e1e1e;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame14277 {
  position: absolute;
  left: 0;
  top: 1412px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 160px;
  background-color: #7fdbff;
}
.whyDoWeExist {
  color: #fff;
  font-size: 40px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame14276 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 104px;
}
.frame14271 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.image26 {
  width: 328px;
  height: 328px;
  border-radius: 8px;
  background-image:/* webpackIgnore: true */ url("assets/image26.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.frame14270 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.reliableMaterialTestingPartner {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 328px;
  height: min-content;
  flex-direction: column;
}
.simpliTestPartnersWithQualityD {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 328px;
  height: min-content;
  flex-direction: column;
}
.frame14273 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.image25 {
  width: 328px;
  height: 328px;
  border-radius: 8px;
  background-image:/* webpackIgnore: true */ url("assets/image25.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.frame14272 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.streamlinedLogisticsSupportFor {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 328px;
  height: min-content;
  flex-direction: column;
}
.ourLogisticsSupportServiceEnsu {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 328px;
  height: min-content;
  flex-direction: column;
}
.frame14275 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.image27 {
  width: 328px;
  height: 328px;
  border-radius: 8.0988px;
  background-image:/* webpackIgnore: true */ url("assets/image27.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.frame14274 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.effortlessMaterialTestingLabCo {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 328px;
  height: min-content;
  flex-direction: column;
}
.simpliTestSStreamlinedSearchFu {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 328px;
  height: min-content;
  flex-direction: column;
}
.frame14286 {
  position: absolute;
  left: 50%;
  top: 2184px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 160px;
  transform: translateX(-50%);
}
.features {
  color: #1e1e1e;
  font-size: 40px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame14285 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 100px;
}
.frame14284 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.frame14279 {
  width: 448px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.logisticsManagementForMaterial {
  color: #1e1e1e;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 416px;
  height: min-content;
  flex-direction: column;
}
.frame14278 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.learnMore {
  color: #907cff;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2 {
  width: 16px;
  height: 16px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.frame14280 {
  width: 448px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
}
.standardizedAndReliableService {
  color: #1e1e1e;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame142782 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.learnMore2 {
  color: #907cff;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame3 {
  width: 16px;
  height: 16px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.frame14281 {
  width: 448px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
}
.partnershipsWithHighQualityAnd {
  color: #1e1e1e;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 416px;
  height: min-content;
  flex-direction: column;
}
.frame142783 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.learnMore3 {
  color: #907cff;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame4 {
  width: 16px;
  height: 16px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.frame14282 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
}
.efficientAndStreamlinedProcess {
  color: #1e1e1e;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 416px;
  height: min-content;
  flex-direction: column;
}
.frame142784 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.learnMore4 {
  color: #907cff;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame5 {
  width: 16px;
  height: 16px;
}
.frame6 {
  width: 16px;
  height: 16px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.frame14283 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
}
.simplifiedProcessForMaterialTe {
  color: #1e1e1e;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 416px;
  height: min-content;
  flex-direction: column;
}
.frame142785 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.learnMore5 {
  color: #907cff;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame6 {
  width: 16px;
  height: 16px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.image28 {
  width: 644px;
  height: 644px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url("assets/image28.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame14287 {
  position: absolute;
  left: 50%;
  top: 3032px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 160px;
  background-color: #7fdbff;
  transform: translateX(-50%);
}
.benefits {
  color: #fff;
  font-size: 40px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame142852 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 100px;
}
.image282 {
  width: 644px;
  height: 644px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url("assets/image282.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame142842 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.frame142802 {
  width: 448px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
}
.ensuresStandardizedAndReliable {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 416px;
  height: min-content;
  flex-direction: column;
}
.frame142786 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.learnMore6 {
  color: #907cff;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame7 {
  width: 16px;
  height: 16px;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.frame142792 {
  width: 448px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.eliminatesTheHassleOfFindingRe {
  color: #1e1e1e;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 416px;
  height: min-content;
  flex-direction: column;
}
.frame142787 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.learnMore7 {
  color: #907cff;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame8 {
  width: 16px;
  height: 16px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.frame142822 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
}
.increasesEfficiencyInTheConstr {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 416px;
  height: min-content;
  flex-direction: column;
}
.frame142788 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.learnMore8 {
  color: #907cff;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame9 {
  width: 16px;
  height: 16px;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.frame142812 {
  width: 448px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
}
.savesTimeAndResourcesByTakingC {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 416px;
  height: min-content;
  flex-direction: column;
}
.frame142789 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.learnMore9 {
  color: #907cff;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame10 {
  width: 16px;
  height: 16px;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.frame142832 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
}
.promotesQualityAndReliabilityB {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.022em;
  width: 416px;
  height: min-content;
  flex-direction: column;
}
.frame1427810 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.learnMore10 {
  color: #907cff;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame11 {
  width: 16px;
  height: 16px;
}
.icon11 {
  width: 100%;
  height: 100%;
}
